@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes conveyor {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.conveyor {
  animation: conveyor 30s linear infinite;
}
